{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier"],
  "rules": {
    "no-shadow": "off",
    "prettier/prettier": ["error"],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/prop-types": 0,
    "react/no-unescaped-entities": 0,
    "no-underscore-dangle": 0,
    "import/imports-first": ["error", "absolute-first"],
    "import/newline-after-import": "error",
    "react/jsx-props-no-spreading": "off",
    "import/no-cycle": "off"
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true
  },
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["Assets", "./src/assets"],
          ["Components", "./src/components"],
          ["Containers", "./src/containers"],
          ["Lang", "./src/lang"],
          ["Layouts", "./src/layouts"],
          ["Modules", "./src/modules"],
          ["Routes", "./src/routes"],
          ["Router", "./src/router"],
          ["Services", "./src/services"],
          ["Styles", "./src/styles"],
          ["Util", "./src/util"]
        ]
      }
    }
  }
}
